In [84]:
import pandas as pd
import numpy as np

In [85]:
data = pd.read_csv('/Users/jiaming/Desktop/Lab2/datas/framingham_without_nas.csv')

In [86]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.000000,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.000000,0
4235,0,48,2.0,1,20.0,0.0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.000000,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,75.878924,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000,0

In [87]:
cat = data.loc[:, ['male', 'education','currentSmoker', 'BPMeds', 'prevalentStroke','prevalentHyp', 'diabetes', 'TenYearCHD']]
cat.head()

,male,education,currentSmoker,BPMeds,prevalentStroke,prevalentHyp,diabetes,TenYearCHD
0,1,4.0,0,0.0,0,0,0,0
1,0,2.0,0,0.0,0,0,0,0
2,1,1.0,1,0.0,0,0,0,0
3,0,3.0,1,0.0,0,1,0,1
4,0,3.0,1,0.0,0,0,0,0

In [88]:
# convert them to one hot encoding. 
cat_str = cat.astype(str) # nominal to string
cat_oh = pd.get_dummies(cat_str)
cat_oh = cat_oh.drop('TenYearCHD_0', axis = 1) # drop unnecessry column 
cat_oh.head()

,male_0,male_1,education_1.0,education_2.0,education_3.0,education_4.0,currentSmoker_0,currentSmoker_1,BPMeds_0.0,BPMeds_1.0,prevalentStroke_0,prevalentStroke_1,prevalentHyp_0,prevalentHyp_1,diabetes_0,diabetes_1,TenYearCHD_1
0,0,1,0,0,0,1,1,0,1,0,1,0,1,0,1,0,0
1,1,0,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0
2,0,1,1,0,0,0,0,1,1,0,1,0,1,0,1,0,0
3,1,0,0,0,1,0,0,1,1,0,1,0,0,1,1,0,1
4,1,0,0,0,1,0,0,1,1,0,1,0,1,0,1,0,0

In [89]:
data_new = data.drop(['male', 'education','currentSmoker', 'BPMeds', 'prevalentStroke','prevalentHyp', 'diabetes', 'TenYearCHD'], axis =1)
data_new.head()

   age  cigsPerDay  totChol  sysBP  diaBP    BMI  heartRate  glucose
0   39         0.0    195.0  106.0   70.0  26.97       80.0     77.0
1   46         0.0    250.0  121.0   81.0  28.73       95.0     76.0
2   48        20.0    245.0  127.5   80.0  25.34       75.0     70.0
3   61        30.0    225.0  150.0   95.0  28.58       65.0    103.0
4   46        23.0    285.0  130.0   84.0  23.10       85.0     85.0

In [90]:
data_cb = pd.concat([data_new, cat_oh], axis = 1) #Combine categorical features to dataset
data_cb.head()

,age,cigsPerDay,totChol,sysBP,diaBP,BMI,heartRate,glucose,male_0,male_1,...,currentSmoker_1,BPMeds_0.0,BPMeds_1.0,prevalentStroke_0,prevalentStroke_1,prevalentHyp_0,prevalentHyp_1,diabetes_0,diabetes_1,TenYearCHD_1
0,39,0.0,195.0,106.0,70.0,26.97,80.0,77.0,0,1,...,0,1,0,1,0,1,0,1,0,0
1,46,0.0,250.0,121.0,81.0,28.73,95.0,76.0,1,0,...,0,1,0,1,0,1,0,1,0,0
2,48,20.0,245.0,127.5,80.0,25.34,75.0,70.0,0,1,...,1,1,0,1,0,1,0,1,0,0
3,61,30.0,225.0,150.0,95.0,28.58,65.0,103.0,1,0,...,1,1,0,1,0,0,1,1,0,1
4,46,23.0,285.0,130.0,84.0,23.10,85.0,85.0,1,0,...,1,1,0,1,0,1,0,1,0,0

In [91]:
# Lets rename target feature
data_cb.rename({'TenYearCHD_1':'target'}, axis=1, inplace=True)
data_cb.head()

,age,cigsPerDay,totChol,sysBP,diaBP,BMI,heartRate,glucose,male_0,male_1,...,currentSmoker_1,BPMeds_0.0,BPMeds_1.0,prevalentStroke_0,prevalentStroke_1,prevalentHyp_0,prevalentHyp_1,diabetes_0,diabetes_1,target
0,39,0.0,195.0,106.0,70.0,26.97,80.0,77.0,0,1,...,0,1,0,1,0,1,0,1,0,0
1,46,0.0,250.0,121.0,81.0,28.73,95.0,76.0,1,0,...,0,1,0,1,0,1,0,1,0,0
2,48,20.0,245.0,127.5,80.0,25.34,75.0,70.0,0,1,...,1,1,0,1,0,1,0,1,0,0
3,61,30.0,225.0,150.0,95.0,28.58,65.0,103.0,1,0,...,1,1,0,1,0,0,1,1,0,1
4,46,23.0,285.0,130.0,84.0,23.10,85.0,85.0,1,0,...,1,1,0,1,0,1,0,1,0,0

In [95]:
cat_oh.shape, data_new.shape, data_cb.shape

((4238, 17), (4238, 8), (4238, 25))

In [96]:
data_cb.to_csv('/Users/jiaming/Desktop/Lab2/datas/data_cb.csv', index=False)